########################################
### SECRET ENVIRONMENT VARIABLES ###
########################################

# GITHUB
GITHUB_AUTH_TOKEN="<your_github_auth_token>"
# for creating Github issues:
GITHUB_ISSUE_AUTH_TOKEN="<your_github_issue_auth_token>"


# DOWNLOADS. Add a trailing slash.
# EXAMPLE FOR MACS: KERISSE_BACKUPS_DIR=$HOME/Downloads/ 
KERISSE_BACKUPS_DIR="<your_kerisse_backups_dir>"

########################################
### NON-SECRET ENVIRONMENT VARIABLES ###
########################################

# SEARCH INDEX DIRECTORY
SEARCH_INDEX_DIR="scraper"
SEARCH_INDEX_CONFIG_DIR="config"
SEARCH_INDEX_ENTRIES_DIR="search-index-entries"
SEARCH_INDEX_SITEMAPS_DIR="sitemaps"
SEARCH_INDEX_TEMP_DIR="scraper/temp"

# SITEMAP OF INDEXED WEBSITES VIA FILE SYSTEM
INDEX_OVERVIEW_FILE="output/indexed-in-KERISSE.html"
# SITEMAP OF INDEXED WEBSITES VIA HTTP
INDEX_OVERVIEW_HTTP="/kerisse/output/indexed-in-KERISSE.html"
